* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-container {
    height: 600px;
}

#carousel img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container #carousel {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    aspect-ratio: 16/9;;
}

#descrizione {
    position: absolute;
    bottom: 10px;
    right: 12px;
    text-align: right;
    color: white;
}

.container #carousel .title {
    font-size: 1.5rem;
    font-weight: bold;
}

.container #thumbnails {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    background-color: black;
}

.container #thumbnails .thumbnail {
    width: 300px;
    object-fit: cover;
    opacity: 0.4;
}

